@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f7f7f7;
}

@layer utilities {
  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.3s ease-out;
  }
}
