@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f7f7f7;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

#apika-text-area pre{
  background: rgb(215 229 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 0px 3px 0px inset #1e2938;
}

#apika-text-area .inline-code {
  background: #d7e6ff;
  padding: 2px 6px;
  border-radius: 6px;
  margin: 1px;
  border: 1px solid;
}

#apika-text-area ol {
  list-style-type: disclosure-closed;
  padding-left: 20px;
}

#apika-text-area a {
  color: #386cff;
  text-decoration: underline;
}

@layer utilities {
  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.3s ease-out;
  }
  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-slide-from-right {
    animation: slide-in-from-right 0.3s ease-out;
  }
}

.bg-gradient-button {
    background-image: linear-gradient(0deg, rgb(0 0 0 / 7%), rgb(0 0 0 / 7%)),
      linear-gradient(81.93deg, #1ea7f5 0%, #29ddff 100%);
  }

  @layer components {
    @keyframes fade-in {
      from {
        opacity: 0;
      }
  
      to {
        opacity: 1;
      }
    }
  
    .motion-div {
      animation: fade-in 0.3s ease-in-out forwards ;
      opacity: 0;
    }
  }